.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to fill the entire viewport */
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Adjust the gap between inputs as needed */
  border: 1px solid #ccc;
  padding: 16px;
}

.vertical label {
  display: flex;
  flex-direction: column;
}

.vertical input {
  margin-top: 5px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 4px;
}

.input-wrapper input {
  margin-right: 10px; /* Adjust the margin as needed */
}

.horizontal {
  display: flex;
  align-items: center;
}

button {
  margin: 5px;
}